aioftp
aiohttp
aiosignal
astropy
async-timeout
asynctest
attrs
ccsdspy
charset-normalizer
cycler
ffmpeg
frozenlist
idna
idna-ssl
imageio-ffmpeg
importlib-metadata
importlib-resources
ipython
ipykernel
jupyterlite-sphinx
kiwisolver
matplotlib
multidict
numpy
pandas
parfive
Pillow
pip
pydata-sphinx-theme
python-dateutil
pyparsing
pytz
scipy
setuptools
six
sphinx
sphinx-autoapi
sphinx-favicon
sphinx-gallery
sphinxcontrib-mermaid
sphinx_rtd_theme
sunpy
tqdm
typing_extensions
wheel
yarl
zipp